<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Магазин</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    </head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10 p-md-0">
                <div class="d-flex justify-content-between mb-3">
                    <a href="#" class="btn btn-secondary" onclick="openRegisterForm(event)">Регистрация для покупателя</a>
                    <a href="#" class="btn btn-primary" onclick="openAdminLoginForm(event)">Войти как администратор</a>
                </div>
                <!-- СПИСОК ПОКУПОК -->
                <h1 class="text-center mb-4">Список всех товаров</h1>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>ID товара</th>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- КНОПКА СОВЕРШ ПОКУПКУ-->
                <div class="text-center mt-3">
                    <button class="btn btn-success" onclick="makePurchase()">Совершить покупку</button>
                </div>
            </div>
        </div>
        <!-- ПОИСК ПО НАЗВАНИЮ -->
        <div class="mb-4">
            <h2>Поиск товара по названию</h2>
            <form id="searchByNameForm">
                <div class="form-group">
                    <label for="productName">Название товара:</label>
                    <input type="text" class="form-control" id="productName" placeholder="Введите название товара">
                </div>
                <button type="submit" class="btn btn-primary">Искать</button>
            </form>
        </div>
        <!-- ПОИСК ПО id -->
        <div class="mb-4">
            <h2>Поиск товара по ID</h2>
            <form id="searchByIdForm">
                <div class="form-group">
                    <label for="productId">ID товара:</label>
                    <input type="number" class="form-control" id="productId" placeholder="Введите ID товара">
                </div>
                <button type="submit" class="btn btn-primary">Искать</button>
            </form>
        </div>
        <!--  РЕЗУЛЬТАТ ПОИСКА  -->
        <div id="searchResults" class="mt-5">
            <h3>Результаты поиска</h3>
            <div id="resultsContainer" class="alert alert-info" style="display: none;"></div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="adminLoginModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Вход администратора</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="adminLoginForm">
                            <div class="form-group">
                                <label for="adminUsername">Логин</label>
                                <input type="text" class="form-control" id="adminUsername" placeholder="Введите логин">
                            </div>
                            <div class="form-group">
                                <label for="adminPassword">Пароль</label>
                                <input type="password" class="form-control" id="adminPassword" placeholder="Введите пароль">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="submitAdminLoginForm()">Войти</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="registerModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Регистрация</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="registerForm">
                            <div class="form-group">
                                <label for="registerPhone">Номер телефона</label>
                                <input type="tel" class="form-control" id="registerPhone" placeholder="Введите номер телефона">
                            </div>
                            <div class="form-group">
                                <label for="registerLastName">Фамилия</label>
                                <input type="text" class="form-control" id="registerLastName" placeholder="Введите фамилию">
                            </div>
                            <div class="form-group">
                                <label for="registerFirstName">Имя</label>
                                <input type="text" class="form-control" id="registerFirstName" placeholder="Введите имя">
                            </div>
                            <div class="form-group">
                                <label for="registerMiddleName">Отчество</label>
                                <input type="text" class="form-control" id="registerMiddleName" placeholder="Введите отчество">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="submitRegisterForm()">Зарегистрироваться</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно для совершения покупки -->
        <div class="modal" tabindex="-1" role="dialog" id="purchaseModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Совершить покупку</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="purchaseForm">
                            <div class="form-group">
                                <label for="purchasePhone">Номер телефона</label>
                                <input type="tel" class="form-control" id="purchasePhone" placeholder="Введите номер телефона">
                            </div>

                            <!-- Поля для выбора продуктов -->
                            <div id="productFieldsContainer">
                                <div class="product-group">
                                    <div class="form-group">
                                        <label>ID товара</label>
                                        <input type="number" class="form-control product-id" placeholder="Введите ID товара">
                                    </div>
                                    <div class="form-group">
                                        <label>Количество</label>
                                        <input type="number" class="form-control product-quantity" placeholder="Введите количество">
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-secondary" onclick="addProductFields()">Еще</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="submitPurchaseForm()">Совершить покупку</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
function openAdminLoginForm(event) {
    event.preventDefault();
    const adminLoginModal = new bootstrap.Modal(document.getElementById('adminLoginModal'));
    adminLoginModal.show();
}

function openRegisterForm(event) {
    event.preventDefault();
    const registerModal = new bootstrap.Modal(document.getElementById('registerModal'));
    registerModal.show();
}

async function submitRegisterForm() {
    const phone = document.getElementById('registerPhone').value;
    const lastName = document.getElementById('registerLastName').value;
    const firstName = document.getElementById('registerFirstName').value;
    const middleName = document.getElementById('registerMiddleName').value;

    try {
        const response = await axios.post('/shop/products/buyer/add', {
            telephone_number:phone,
            surname:lastName,
            firstname:firstName,
            lastname:middleName
        });

        if (response.status === 200) {
            alert('Регистрация успешна!');

        } else {
            alert('Ошибка регистрации: ' + (response.data.message || 'Неизвестная ошибка'));
        }
    } catch (error) {
        const errorMessage = error.response?.data?.detail || error.message;
        alert(`Ошибка регистрации`);
    }
}

async function submitAdminLoginForm() {
    const username = document.getElementById('adminUsername').value;
    const password = document.getElementById('adminPassword').value;

    try {
        const response = await axios.post('/shop/admin/login', {
            admin_name: username,
            admin_password: password
        });

        if (response.data.access_token) {
            window.location.href = 'admin_page';
            alert('Успешный вход!');
        } else {
            alert('Ошибка входа: Невалидный ответ от сервера.');
        }
    } catch (error) {
        const errorMessage = error.response?.data?.detail || error.message;
        alert(`Ошибка входа: ${errorMessage}`);
    }
}

function displayResults(data) {
    const resultsContainer = document.getElementById('resultsContainer');
    resultsContainer.style.display = 'block';
    resultsContainer.innerHTML = `
        <p><strong>ID:</strong> ${data.id || 'N/A'}</p>
        <p><strong>Название:</strong> ${data.name || 'N/A'}</p>
        <p><strong>Цена:</strong> ${data.price || 'N/A'}</p>
        <p><strong>Количество:</strong> ${data.count || '0'}</p>
    `;
}

document.getElementById('searchByNameForm').addEventListener('submit', async function(event) {
    event.preventDefault();
    const productName = document.getElementById('productName').value;

    try {
        const response = await axios.get(`/shop/products/product/name/${productName}`);
        displayResults(response.data);
    } catch (error) {
        alert('Ошибка поиска: ' + (error.response?.data?.detail || error.message));
    }
});

document.getElementById('searchByIdForm').addEventListener('submit', async function(event) {
    event.preventDefault();
    const productId = document.getElementById('productId').value;

    try {
        const response = await axios.get(`/shop/products/product/id/${productId}`);
        displayResults(response.data);
    } catch (error) {
        alert('Ошибка поиска: ' + (error.response?.data?.detail || error.message));
    }
});


// Функция для открытия формы покупки
function makePurchase() {
    const purchaseModal = new bootstrap.Modal(document.getElementById('purchaseModal'));
    purchaseModal.show();
}

// Функция для добавления дополнительных полей продукта
function addProductFields() {
    const container = document.getElementById('productFieldsContainer');
    const productGroup = document.createElement('div');
    productGroup.classList.add('product-group');
    productGroup.innerHTML = `
        <div class="form-group">
            <label>ID продукта</label>
            <input type="number" class="form-control product-id" placeholder="Введите ID товара">
        </div>
        <div class="form-group">
            <label>Количество</label>
            <input type="number" class="form-control product-quantity" placeholder="Введите количество">
        </div>
    `;
    container.appendChild(productGroup);
}

// Функция для отправки формы покупки
async function submitPurchaseForm() {
    const phone = document.getElementById('purchasePhone').value;
    const productGroups = document.querySelectorAll('.product-group');

    if (!phone || productGroups.length === 0) {
        alert('Пожалуйста, заполните все обязательные поля.');
        return;
    }

    const products = Array.from(productGroups).map(group => {
        const productId = group.querySelector('.product-id').value;
        const count = group.querySelector('.product-quantity').value;
        if (!productId || !count) {
            throw new Error('Все поля продукта должны быть заполнены.');
        }
        return {
            product_id: parseInt(productId, 10),
            count: parseInt(count, 10)
        };
    });

    try {
        const response = await axios.post('/shop/products/purchase', {
            buyer_number: phone,
            products: products
        });

        if (response.status === 200) {
            alert('Покупка успешно совершена!');
            window.location.href = 'products_page';
        } else {
            alert('Ошибка при совершении покупки: ' + (response.data.message || 'Неизвестная ошибка'));
        }
    } catch (error) {
        const errorMessage = error.response?.data?.detail || error.message;
        alert(`Ошибка при совершении покупки: ${errorMessage}`);
    }
}

    </script>
    </body>
    </html>
