<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/main.js"></script>
    <style>
        .nav-button {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            margin: 0.5rem 0;
            border-radius: 5px;
        }
        .nav-button:hover {
            text-decoration: none;
            opacity: 0.9;
        }
        .purchase-info {
            display: none;
        }
        .report-container {
            margin-top: 20px;
        }
    </style>
</head>

<body class="bg-light d-lg-grid">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10 p-md-0">
                <!-- Верхний правый угол -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex">
                        <a href="/shop/products/admin_page" class="btn btn-info nav-button">Начальная</a>
                        <a href="/shop/products/purchase_page" class="btn btn-secondary nav-button ml-2">Покупки</a>
                        <a href="/shop/products/buyers_page" class="btn btn-secondary nav-button ml-2">Покупатели</a>
                    </div>
                    <a href="#" class="btn btn-danger" onclick="redirectToProductsPage(event)">Выйти из аккаунта администратора</a>
                </div>
                <h1 class="text-center mb-4">Список всех покупателей</h1>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>Номер телефона</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for buyer in buyers %}
                        <tr id="buyer_{{ buyer.telephone_number }}">
                            <td>{{ buyer.telephone_number }}</td>
                            <td>{{ buyer.surname }}</td>
                            <td>{{ buyer.name }}</td>
                            <td>{{ buyer.lastname }}</td>
                            <td>
                                <button class="btn btn-info" onclick="showPurchases('{{ buyer.telephone_number }}')">Просмотреть покупки</button>
                            </td>
                        </tr>
                        <tr id="purchases_{{ buyer.telephone_number }}" class="purchase-info">
                            <td colspan="5">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Цена</th>
                                            <th>Товары</th>
                                        </tr>
                                    </thead>
                                    <tbody id="purchaseDetails_{{ buyer.telephone_number }}"></tbody>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Поле для ввода номера телефона покупателя -->
                <div class="mt-4">
                    <h3>Создать отчет по покупателю</h3>
                    <form id="reportForm" class="form-inline">
                        <div class="form-group mr-2">
                            <label for="phoneNumber" class="mr-2">Номер телефона:</label>
                            <input type="tel" class="form-control" id="phoneNumber" placeholder="Введите номер телефона" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Создать отчет</button>
                    </form>
                </div>

                <!-- Контейнер для отображения отчета -->
                <div id="reportContainer" class="report-container" style="display: none;">
                    <h3>Созданный отчет:</h3>
                    <div id="reportContent"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function redirectToProductsPage(event) {
            event.preventDefault();
            document.cookie = "token=; path=/; domain=" + window.location.hostname + "; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
            window.location.href = "products_page";
        }

        function showPurchases(phoneNumber) {
            const purchasesRow = document.getElementById('purchases_' + phoneNumber);
            const purchaseDetailsContainer = document.getElementById('purchaseDetails_' + phoneNumber);
            axios.get(`/shop/products/report/${phoneNumber}`)
                .then(function (response) {
                    const data = response.data;
                    if (data.purchases && data.purchases.length > 0) {
                        purchaseDetailsContainer.innerHTML = '';

                        data.purchases.forEach(function (purchase) {
                            let productDetails = purchase.products.map(function (product) {
                                return `${product.product_name} (x${product.count}) - ${product.total_price} руб`;
                            }).join('<br>');

                            let purchaseRow = `
                                <tr>
                                    <td>${purchase.date}</td>
                                    <td>${purchase.full_price} руб</td>
                                    <td>${productDetails}</td>
                                </tr>
                            `;
                            purchaseDetailsContainer.innerHTML += purchaseRow;
                        });

                        purchasesRow.style.display = 'table-row'; // Показать строку с покупками
                    } else {
                        alert('Нет данных о покупках для этого покупателя');
                    }
                })
                .catch(function (error) {
                    console.error('Ошибка при получении покупок:', error);
                    alert("У покупателя нет покупок");
                });
        }

        document.getElementById('reportForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const phoneNumber = document.getElementById('phoneNumber').value;
            if (phoneNumber) {
                axios.get(`/shop/products/report/${phoneNumber}`)
                    .then(function (response) {
                        alert('Отчет успешно создан!');
                        const reportContainer = document.getElementById('reportContainer');
                        const reportContent = document.getElementById('reportContent');

                        const reportData = response.data;

                        let reportHtml = `
                            <p><strong>Номер телефона:</strong> ${reportData.buyer_number}</p>
                            <p><strong>Сообщение:</strong> ${reportData.message}</p>
                            <h4>Покупки:</h4>
                            <ul>
                        `;

                        reportData.purchases.forEach(function (purchase) {
                            reportHtml += `
                                <li>
                                    <strong>Дата:</strong> ${purchase.date} <br>
                                    <strong>Полная цена:</strong> ${purchase.full_price} руб <br>
                                    <strong>Товары:</strong>
                                    <ul>
                            `;

                            purchase.products.forEach(function (product) {
                                reportHtml += `
                                    <li>${product.product_name} (x${product.count}) - ${product.total_price} руб</li>
                                `;
                            });

                            reportHtml += `</ul></li>`;
                        });

                        reportHtml += `</ul>`;

                        reportContent.innerHTML = reportHtml;
                        reportContainer.style.display = 'block';
                    })
                    .catch(function (error) {
                        alert("У данного пользователя нет покупок либо пользователя несуществует");
                    });
            } else {
                alert('Пожалуйста, введите номер телефона');
            }
        });
    </script>
</body>
</html>
